@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
  }

  body {
    font-family: "Poppins", sans-serif;
    /*@apply px-4;*/
  }

  h1,
  h2,
  h3,
  p,
  input,
  label,
  textarea,
  ul {
    @apply mx-4;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-bold my-4;
  }

  h2 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold my-4;
  }

  p {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl  mt-4;
  }
}

@layer components {
  .page-header {
    @apply mb-8 md:mb-10 lg:mb-12 xl:mb-16;
  }
  .text-highlight {
    background: linear-gradient(to right, #ffc400, orangered);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-highlight--header,
  .text-empty-stroke--header {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold my-4;
  }

  .text-empty-stroke {
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: transparent;
  }

  .cta {
    @apply bg-orange-500 text-primary-text;
  }
}
